\01_01_firsrt_cmake\build
\01_02_static_library\student\build
\01_02_static_library\test_student\build
\01_03_dynamic_library\build
\02_01_cmake_comment\build
\02_02_cmake_set\build
\02_03_cmake_message_color\build
\02_04_cmake_variable\build
\02_05_cmake_include\build
\02_06_cmake_auto_src\build
\02_07_cmake_out\build
\02_07_cmake_out\bin
\02_07_cmake_out\lib
\02_08_add_subdirectory\build
\02_08_add_subdirectory\bin
\02_08_add_subdirectory\lib
\03_01_cmake_if\build